body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.21;
    color: $color-main-black;
    background: #E5E2E3;
}

.d-flex {
    display: flex;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    cursor: pointer;
}