.container {
    max-width: 320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    
    @media screen and (min-width: $breakpoint-tablet) {
        max-width: $breakpoint-tablet;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    @media screen and (min-width: $breakpoint-decktop) {
        max-width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
