@import '~node_modules/modern-normalize/modern-normalize.css';

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-decktop: 1280px;

$color-main-black: #2E2520;
$color-secondary-black: #3C322D;
$color-main-red: #F3848C;
$color-main-white: #ffffff;