<header class="header">
  <div class="container">
    <nav class="nav-container">
      <a href=""><img src="./images/logo.png" alt="Oh my donut logo" /></a>
      <button type="button" class="open" data-modal-open>lol</button>
      <div class="backdrop is-hidden" data-modal>
        <div class="modal">
          <ul class="nav-list">
            <nav-item><a href="" class="nav-link">About us</a></nav-item>
            <nav-item><a href="" class="nav-link">Program</a></nav-item>
            <nav-item><a href="" class="nav-link">Speaker</a></nav-item>
            <nav-item><a href="" class="nav-link">Price</a></nav-item>
            <nav-item><a href="" class="nav-link">Reviws</a></nav-item>
            <nav-item><a href="" class="nav-link">Contact</a></nav-item>
            <button type="button" data-modal-close>lol</button>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
