<header class="header">
<div class="h-upper">
  <svg class="logo">
    <use src="../images/logo.svg"></use>
  </svg>
  <nav>
  <button></button>
  <ul class="menu">
    <li class="menu-item"><a href="">About us</a></li>
    <li class="menu-item"><a href="">Program</a></li>
    <li class="menu-item"><a href="">Speaker</a></li>
    <li class="menu-item"><a href="">Price</a></li>
    <li class="menu-item"><a href="">Reviws</a></li>
    <li class="menu-item"><a href="">Contact</a></li>
  </ul>
</nav>
</div>

</ul>
</header>
