.header {
    background-image: url(./../images/header-bg.jpg);
    mix-blend-mode: darken;
    height: 312px;
    padding-bottom: 16px;
    padding-top: 16px;

    position: relative;
        z-index: 1000;
}

.logo {
    display: block;
    z-index: 10;
}



.nav-list {
    z-index: 100;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;

}

.nav-link {
    font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        color: #3C322D;

        &:hover,
        &:focus,
        &:target {
            padding: 10px 28px;
            background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
                box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
                border-radius: 0px;
                color: #ffffff;
        }
}

.modal {
    position: fixed;
    width: 100%;
    background-color: #E5E2E3;

    z-index: 1000;
    overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 15px;
    right: 19px;
    bottom: 170px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(60, 50, 45, 0.12);
  }
}

.nav-item:not(:last-child) {
    margin-bottom: 40px;
}





.menu-button {
        z-index: 100;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 16px;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;

} 

.header-top {
        z-index: 100;
    display: flex;
        justify-content: space-between;
        flex-direction: row;
    margin-bottom: 20px;
}

.burger-icon {
        z-index: 100;
    fill: $color-main-black;
}

.header-top-modal {
        z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 16 20 0;
    margin-bottom: 46px;

    &::after {
        content: '';
        position: absolute;
        background: transparent;
        border-radius: 50%;
        border: 11px solid rgba(214, 131, 98, 0.17);
        width: 78px;
        height: 78px;
        top: 66px;
        right: -30px;
    }

    &::before {
        content: '';
                position: absolute;
                    background: transparent;
                    border-radius: 50%;
                    border: 13px solid rgba(60, 50, 45, 0.12);
                    height: 100px;
                    width: 100px;
                    bottom: -18px;
                    left: -18px;
    }
}

.header-bottom {
        z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
        z-index: 100;
    font-family: 'Montserrat Alternates';
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        color: $color-main-black;
        letter-spacing: -0.03em;
        margin-bottom: 18px;
}

.header-subtitle {
        z-index: 100;
    font-family: 'Montserrat Alternates';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        text-align: center;
    
        color: $color-main-black;
        margin-bottom: 28px;
}

.header-register {
        z-index: 100;
    width: 145px;
        height: 40px;
        left: 88px;
        top: 220px;
    
        background: #F3848C;
    
        /* тень кнопки */
        box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
        border-radius: 25px;
        border: none;

        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        color: #ffffff;
            /* identical to box height */
            text-align: center;
            padding: 9px 35px;
            margin-bottom: 28px;
}

.header-socials {
    fill: $color-main-black;
}

.header-socials-list {
    display: flex;
}

.header-socials-item:not(:last-child) {
margin-right: 18px;
}